# Python cache and build
__pycache__/
*.py[cod]
*.pyo
*.pyd
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment & secrets
.env
*.env
.env.*

# IDE & editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit and temp
.streamlit/
